.col-xs-12
  form
    .form-group
      label(for="username") Username:
      input.form-control#username(type="text" name="username")
    .form-group
      label(for="password") Password:
      input.form-control#password(type="password" name="password")
    input#login.btn.btn-primary(value="login" type="submit")