body {
  padding-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.with-margin-top {
  margin-top: 60px;
}

.movie-list-view .panel {
  background-color: #303030;
  height: 800px;
}

.movie-list-view .thumbnail {
  cursor: pointer;
  height: 270px;
}

.movie-list-view .thumbnail h4 {
  font-size: 1.3vw;
}

#movie-viewer-widget .thumbnail .caption {
  overflow: hidden;
}

#star-icon {
  color: orange;
}

#filter-bar #year > span:hover {
  background-color: #fff;
  color: #303030;
}

#filter-bar #year > span h5 {
   margin: 5px; 
}

#filter-bar hr {
  border-color: #cac6c6;
}

#search, #search-box button {
  border-radius: 0;
}

#search-box {
  margin-bottom: 20px;
}

#navbar {
  min-height: initial;
  height: 55px;
}

#navbar img, #navbar #create-movie {
  margin-top: 2px;
}

#navbar img {
  float: left;
  margin-right: 10px;
}

#navbar #admin-name {
  line-height: 36px;
}

#footer {
  min-height: initial;
  height: 22px;
  background-image: initial;
  background-color: #dedede;
  color: black;
  border: initial;
  padding-left: 30px
}

.panel-simple {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-simple > .panel-heading {
  font-size: 1.4em;
  background-color: #dedede;
}

#navbar #admin-name h4 {
  margin-bottom: 0;
}

#navbar #admin-name h5 {
  margin: 0;
  color: #a0a0a0;
}

.panel-buttons {
  float: right;
}

span.notice {
  text-align: center;
  color: #a6a6a7;
}
#cover-img {
  cursor: pointer;
}
.avatar-img-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}
.avatar-img-container img {
  width:100%;
}
.avatar-img-container:hover i {
  background: rgba(0,0,0,.3);
  display: block;
  position: absolute;
  top: 0;
  opacity: 1;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: #fff;
  padding-top: 15px;
}
.avatar-img-container i {
  background:rgba(0,0,0,0.3);
  display: block;
  position: absolute;
  top: -100%;
  opacity: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: #fff;
}

#movie-cast-container .form-group {
  display: flex;
  align-items: center;
}

.panel-heading > h4#title {
  padding-top: 10px;
}