body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.movie-list-view {
  background-color: #303030;
}

#filter-bar {
  margin-right: 20px;
}

.btn span.glyphicon {         
  opacity: 0;       
}
.btn.active span.glyphicon {        
  opacity: 1;       
}

#search, #search-box button {
  border-radius: 0;
}

#search-box {
  margin-bottom: 20px;
}

#navbar {
  min-height: initial;
  height: 55px;
}

#navbar img, #navbar #create-movie {
  margin-top: 2px;
}

#navbar img {
  float: left;
  margin-right: 10px;
}

#navbar #admin-name {
  line-height: 36px;
}

#footer {
  min-height: initial;
  height: 22px;
  background-image: initial;
  background-color: #dedede;
  color: black;
  border: initial;
  padding-left: 30px
}


.panel-simple {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-simple > .panel-heading {
  font-size: 1.4em;
  background-color: #dedede;
}

#navbar #admin-name h4 {
  margin-bottom: 0;
}

#navbar #admin-name h5 {
  margin: 0;
  color: #a0a0a0;
}