body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.movie-list-view {
  background-color: #303030;
}

#filter-bar {
  margin-right: 20px;
}

/*.btn span.glyphicon {         
  opacity: 0;       
}
.btn.active span.glyphicon {        
  opacity: 1;       
}*/

#search, #search-box button {
  border-radius: 0;
}

#search-box {
  margin-bottom: 20px;
}

#navbar {
  min-height: initial;
  height: 55px;
}

#navbar img, #navbar #create-movie {
  margin-top: 2px;
}

#navbar img {
  float: left;
  margin-right: 10px;
}

#navbar #admin-name {
  line-height: 36px;
}

#footer {
  min-height: initial;
  height: 22px;
  background-image: initial;
  background-color: #dedede;
  color: black;
  border: initial;
  padding-left: 30px
}

.panel-simple {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-simple > .panel-heading {
  font-size: 1.4em;
  background-color: #dedede;
}

#navbar #admin-name h4 {
  margin-bottom: 0;
}

#navbar #admin-name h5 {
  margin: 0;
  color: #a0a0a0;
}

.panel-buttons {
  float: right;
}

span.notice {
  text-align: center;
  color: #a6a6a7;
}

#cover-img {
  cursor: pointer;
}

#select-avatar {
  position: relative;
  overflow: hidden;
  margin: 0px;    
  color: #333;
  border-color: #ccc;
}

#select-avatar input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#select-avatar #input-title {
  margin-left: 9px;
}

#img-avatar {
  float: left;
  margin-right: 10px;
}