td: img.img-responsive(width="55px" height="90px" src=cover.url)
td= title
td#created-at
td#updated-at
td= meta.watches
td= meta.likes
td
  div.btn-group
    button#edit.btn.btn-primary Edit
    button#delete.btn.btn-default Delete