#navbar.navbar.navbar-default.navbar-fixed-top
  .container
    .row
      .col-xs-6.col-sm-4.col-md-3
        img.img-responsive.img-circle(width="50" height="50" src="/images/admin.jpeg")
        #admin-name
          h4 Admin
          h5 Adel
      .col-xs-6.col-sm-4.col-md-3.pull-right
        button#create-movie.btn.btn-lg.btn-success Create A New Movie