// a placeholder template.
div.well
  form#filter-bar
    div.form-group
      label(for="type") Type
      select.form-control#type
        option(for="funny") Funny
        option(for="herror") Herror
        option(for="comedy") Comedy
    div.form-group
      input.form-control(placeholder="Movie name...")
      button.btn.btn-default#look-up Search
    div.form-group
      input(class="btn btn-primary" type="submit" value="Filter")