.col-md-3
  .movie-filter-bar.col-md-12
.col-md-9.panel.panel-primary
  .movie-list-view.col-md-12
.movie-list-pag-bar
.footer.text-muted.navbar.navbar-inverse.navbar-fixed-bottom © 2015.
  a(href="https://twitter.com/bigfanjs" target="_blank") Adel Jojo