.col-md-1
  .avatar-img-container
    img#img-avatar.img-circle(width="30" height="30" src="/images/admin.png")
    i.fa.fa-upload.fa-2x
    input#avatar-input(type="file" name="avatar" style="display:none")
.col-md-4
  input.form-control(type="text" placeholder="Actor name")
.col-md-4
  input.form-control(type="text" placeholder="Character name")
.col-md-2
  .form-check
    label.form-check-label
      input.form-check-input(type="checkbox" value="star")
      |  Star
.col-md-1
  a#delete.pull-right(href="#") Delete