.col-md-1
  .avatar-img-container
    img#img-avatar(width="30" src="/images/actor.png")
    i.fa.fa-camera.fa-2x
    input#avatar-input(type="file" name="avatar" style="display:none")
.col-md-3
  input#actor-input.form-control(type="text" placeholder="Actor name")
.col-md-3
  input#character-input.form-control(type="text" placeholder="Character name")
.col-md-2
  select#gender-input.form-control
.col-md-2
  .form-check
    label.form-check-label
      input#star-input.form-check-input(type="checkbox")
      | Star
.col-md-1
  a#delete.pull-right(href="#") Delete