.panel.panel-simple
  .panel-heading
    .panel-title Movie Info
  .panel-body
    form.form-horizontal
      .form-group
        label.control-label.col-xs-6.col-sm-3.col-md-1(for="title") Title
        .col-xs-6.col-sm-9.col-md-11
          input#title-input.form-control(type="text" placeholder="Movie Title" value=title)
      .form-group
        label.control-label.col-xs-6.col-sm-3.col-md-1(for="story") Overview
        .col-xs-6.col-sm-9.col-md-11
          textarea#overview-input.form-control(rows="4" cols="50" placeholder="Movie Story..." value=story)
      .form-group
        label.control-label.col-xs-6.col-sm-3.col-md-1(for="type") Type
        .col-xs-6.col-sm-9.col-md-11
          select#type-input.form-control
            option(value="") Drama
            option(value="") Comic
            option(value="") Comidy
            option(value="") Imaginety
            option(value="") Action
      .form-group
        label.control-label.col-xs-6.col-sm-3.col-md-1(for="releaseDate") Release Date
        .col-xs-6.col-sm-9.col-md-11
          input#releaseDate-input.form-control(type="text" placeholder="MM/DD/YYYY")
      .form-group
        label.control-label.col-xs-6.col-sm-3.col-md-1(for="runningTime") Running Time
        .col-xs-6.col-sm-9.col-md-11
          input#runningTime-input.form-control(type="text")
      .form-group
        label.control-label.col-xs-6.col-sm-3.col-md-1(for="director") Director
        .col-xs-6.col-sm-9.col-md-11
          input#runningTime-input.form-control(type="text")
      .form-group
        label.control-label.col-xs-6.col-sm-3.col-md-1(for="country") Country
        .col-xs-6.col-sm-9.col-md-11
          select#country-input.form-control
            option(value="") America
            option(value="") England
            option(value="") France
            option(value="") China
            option(value="") Germany
            option(value="") India
            option(value="") Spane
      .form-group
        label.control-label.col-xs-6.col-sm-3.col-md-1(for="language") Language
        .col-xs-6.col-sm-9.col-md-11
          select#language-input.form-control
            option(value="") English
            option(value="") Frensh
            option(value="") Arabic
            option(value="") Sweden
            option(value="") Spanish
            option(value="") German
      .form-group
        label.control-label.col-xs-6.col-sm-3.col-md-1(for="budget") Budget
        .col-xs-6.col-sm-9.col-md-11
          .input-group
            span.input-group-addon $
            input#budget-input.form-control(type="number")
            span.input-group-addon .00
      .form-group
        label.control-label.col-xs-6.col-sm-3.col-md-1(for="boxOffice") Box Office
        .col-xs-6.col-sm-9.col-md-11
          .input-group
            span.input-group-addon $
            input#boxOffice-input.form-control(type="number")
            span.input-group-addon .00
.panel.panel-simple
  .panel-heading
    .panel-title
    | Cast
    button#new-cast-item.btn.btn-primary.btn-sm.pull-right NEW
  .panel-body
    form#movie-cast-container.form-horizontal
.panel.panel-simple
  .panel-heading
    .panel-title
    | Starring
    button#new-starring-item.btn.btn-primary.btn-sm.pull-right NEW
  .panel-body
    form#movie-starring-container.form-horizontal
  .panel-footer.clearfix
    .panel-buttons
      button#cancel.btn.btn-default Cancel
      button#save.btn.btn-success Save