.panel.panel-simple
  .panel-heading Movie Info
  .panel-body
    form.form-horizontal
      .form-group
        label.control-label.col-xs-6.col-sm-2(for="title") Title
        .col-xs-6.col-sm-10
          input#title.form-control(type="text" placeholder="Movie Title" value=title)
      .form-group
        label.control-label.col-xs-6.col-sm-2(for="story") Story
        .col-xs-6.col-sm-10
          textarea#title.form-control(rows="4" cols="50" placeholder="Movie Story..." value=story)